@media screen {
  .container {
    display: flex;
  }

  .column {
    margin-left: 70px;
  }

  .column:first-child .section-title {
    text-align: center;
  }

  .profile-section .section-title {
    margin-top: 0;
  }

  .wrapper {
    margin: 50px auto;
    max-width: 1024px;
    padding: 70px;
  }
}

@media (max-width: 767px) {
  .container {
    display: block;
  }
  
  .column {
    margin-left: 0px;
  }

  .profile-section .section-title {
    margin-top: 50px;
  }

  .section-title {
    text-align: center;
  }

  .wrapper {
    margin: 0;
    padding: 40px;
  }
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0;
}

body {
  font-family: 'Comfortaa', "Arial", sans-serif;
}

.avatar {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100px;

  border-radius: 100%;
}

.career {
  font-family: 'Comfortaa', cursive;
}

.column:first-child {
  min-width: 245px;
  margin-left: 0px;
}

.contact-list {
  list-style: none;
}

.contact-section .section-title {
  margin-top: 0;
}

div {
  box-sizing: border-box;
}

.fa-mobile-alt {
  padding-left: 3px;
}

.header-section {
  text-align: center;

  margin-bottom: 70px;
}

.icon {
  margin-right: 10px;
}

.item {
  margin-bottom: 20px;
}

.link {
  transition: .3s color ease;
  color: rgb(0, 0, 0);
}

.link:hover {
  color: rgb(141, 141, 141);
  text-decoration: none;
}

.list {
  padding-left: 30px;
}

.name {
  font-family: 'Quicksand', "Arial", sans-serif;
  font-size: 70px;
  font-weight: 100;
  text-transform: uppercase;

  color: #3f3f3f;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}

.markup {
  margin-bottom: 20px;
}

.section-title {
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 20px;

  font-family: 'Quicksand', "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border-bottom: 1px solid #999
}

.wrapper {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}
