@font-face {
  font-family: "Geometos";
  src: url("../assets/fonts/GeometosLight.otf");
}

@font-face {
  font-family: "GeometosBold";
  src: url("../fonts/GeometosBold.otf");
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', "Arial", sans-serif;
}

div {
  box-sizing: border-box;
}

.link {
  font-weight: bold;

  color: #000;
}

.link:hover {
  color: rgb(102, 102, 102);
}

.contact-list {
  list-style: none;
}

.dotted {
  padding-left: 30px;
}

.wrapper {
  padding: 70px;
  margin: 0 auto;
  width: 1024px;

  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}

.name {
  font-family: "Geometos", "Arial", sans-serif;
  font-size: 100px;
  font-weight: 100;
  text-transform: uppercase;

  color: #6e564f;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}

.header-section {
  text-align: center;
}

.avatar {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100px;

  border-radius: 100%;
}

.career {
  font-family: 'Comfortaa', cursive;

  margin-bottom: 70px;
}

.icon {
  margin-right: 10px;
}

.fa-mobile-alt {
  padding-left: 3px;
}

.container-1,
.container-2 {
  display: inline-block;
}

.container-1 {
  margin-right: 100px;
  width: 200px;
}

.container-2 {
  width: 580px;
}

.section-title {
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 20px;

  font-family: "GeometosBold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border-bottom: 1px solid #999
}

.contact-section .section-title,
.profile-section .section-title {
  margin-top: 0;
}

.container-1 .section-title {
  text-align: center;
}

.item {
  margin-bottom: 20px;
}

.container {
  display: flex;
}

.markup {
  margin-bottom: 20px;
}
