@font-face {
  font-family: "Geometos";
  src: url("../assets/fonts/GeometosLight.otf");
}

@font-face {
  font-family: "GeometosBold";
  src: url("../fonts/GeometosBold.otf");
}

@media screen {
  .container {
    display: flex;
  }
  
  .wrapper {
    margin: 50px auto;
  }

  .column {
    margin-left: 70px;
  }

}

@media screen and (max-width:480px) {
  .container {
    display: block;
  }

  .wrapper {
    margin: 0;
  }
  
  .column {
    margin-left: 0px;
  }
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0;
}

body {
  font-family: 'Lato', "Arial", sans-serif;
}

div {
  box-sizing: border-box;
}

.link {
  transition: .3s color ease;
  color: rgb(0, 0, 0);
}

.link:hover {
  color: rgb(141, 141, 141);
  text-decoration: none;
}

.contact-list {
  list-style: none;
}

.text {
  padding-left: 30px;
}

.wrapper {
  padding: 70px;
  max-width: 1024px;
  min-width: 515px;

  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}

.name {
  font-family: "Geometos", "Arial", sans-serif;
  font-size: 70px;
  font-weight: 100;
  text-transform: uppercase;

  color: #3f3f3f;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}

.header-section {
  text-align: center;

  padding-bottom: 70px;
}

.avatar {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100px;

  border-radius: 100%;
}

.career {
  font-family: 'Comfortaa', cursive;
}

.icon {
  margin-right: 10px;
}

.fa-mobile-alt {
  padding-left: 3px;
}

.column:first-child {
  flex-basis: 50%;
  margin-left: 0px;
}

.column:first-child .section-title {
  text-align: center;
}

.section-title {
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 20px;

  font-family: "GeometosBold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border-bottom: 1px solid #999
}

.contact-section .section-title,
.profile-section .section-title {
  margin-top: 0;
}

.item {
  margin-bottom: 20px;
}

.markup {
  margin-bottom: 20px;
}
